    REIM_URL=https://erp-interno.example.com:8443/ReimViewController/faces/Home
    REIM_USER=tu_usuario@TENANT_NAME.com
    REIM_PASSWORD=tu_password
    TIMEOUT_DEFAULT=20000
    TIMEOUT_CREAR_FACTURA=25000
    TOLERANCIA_MAXIMA=100